<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Anna Marías magiska QUIZ</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
</head>
<body>
	<div class="intro">
		<h1>Superquizet!</h1>
		<p>Välkommen till detta magiska quiz. Du kommer få fyra frågor i varje quiz som du ska svara på så snabbt och rätt du kan.Välj först vilket quiz du vill börja med.</p>
	</div>
		
	<div class="container">
		<div class="row">
			{% for quiz in quizzes %}
			<div class="col-md-4">
				<a href="{% url 'quiz_page' quiz.quiz_number %}" class="btn_big">
				{{ quiz.name }}</a>
			</div>	
			{% endfor %}

		</div>	
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>